body {
    background-color: rgb(201, 157, 76);
}

.calculator {
    font-size: 28px;
    margin: 0 auto;
    height: 15.5em;
    width: 10em;
    padding: 0.5em;
    background-color: rgb(100, 100, 109);
    border-radius: 12px;
}

.pantalla {
    border: 0;
    border-radius: 5px;
    background: rgb(164, 167, 189);
    float: left;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 28px;
    width: 9.6em;
    line-height: 2em;
    margin: 0.2em;
    margin-bottom: 0.6em;
}

button {
    border: 0;
    border-radius: 5px;
    background: rgb(129, 174, 177);
    color: #1d2f36;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
}
button:hover {
    background: rgb(154, 215, 219);
}

.red {
    background:rgb(180, 40, 40);
}
.red:hover {
    background: rgb(202, 84, 84);
}
