
/*especificidad=1*/
body {
    background-color: white;
    color: black;
}
/*especificidad=1*/
h1{
    text-align:center;
    color:red;
    font-weight:bold;
}
/*especificidad=1*/
h2{
    text-align:center;
    color:green;
}
/*especificidad=1*/
h3{
    text-align:center;
    color:blue;
}
/*especificidad=1*/
h4{
    text-align:center;
    color:black;
}
/*especificidad=1*/
p {
    color: #3f3e3e;
    text-align: center;
}