
video /*especificidad=1 */
{
    height:37.5em;
    max-width: 62.5em;
    width: 100%;
}
 /*especificidad=100 */
#arrastrar {
    border-style: dashed;
    border-width: .3em;
    min-width: 12.5em;
    min-height: 7em;
    text-align:center;
    border-radius: 1.6em;
    border-color: rgb(12, 12, 12);
    background-color: rgb(255, 255, 255);
    padding: 1.2em;
}
/*especificidad=1*/
p{
    font-size: 1.55em;
}

 /*especificidad=1 */
main{
    text-align: center;
}

h1 /*especificidad= 1*/ 
{
    background-color:#8f8df5; 
    color:black;
    text-transform: uppercase;
    padding: 1.5em;
    text-align: center;     
}
h2 /*especificidad= 1*/ 
{
    background-color:#b6b6e5; 
    color:black;
    text-transform: uppercase;
    text-align: center;     
}