
/*especificidad=1*/
body {
    background-color: white;
    color: black;
}
/*especificidad=1*/
h1{
    text-align:center;
    color:red;
    font-weight:bold;
}
/*especificidad=1*/
h2{
    text-align:center;
    color:green;
}

/*especificidad=1*/
p {
    color: #3f3e3e;
    text-align: center;
}
/*especificidad=100*/
#inicio{
    text-align:center;
    color:black;
    font-size: 2em;
    font-weight:bold; 
}