/*especificidad=100*/
#mapa {
    height: 500px;
    width: 100%;
}
/*especificidad=1*/
h1{
    text-align: center;
}
/*especificidad=1*/
h2{
    text-align: center;
    color:blue;
}
/*especificidad=1*/
main{
    text-align: center;
}