/*especificidad=1*/
form{
    text-align: center;
}
/*especificidad=100*/
#left, #right {
    width: 45%;
    background-color: rgb(144, 218, 208);
    display: inline-block;
}
/*especificidad=100*/
#left {
    float: left;
}
/*especificidad=100*/
#right {
    float: right;
}
/*especificidad=1*/
h1{
    text-align:center;
}
/*especificidad=100*/
#intro{
    color:blue;
    text-align:center;
}
/*especificidad=100*/
#textoResultados{
    text-align: center;
}
